<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 20rem;
    }
    .flex-container img {
        margin: 10px 0;
    }
</style>
<div class="main_header">
    <div class="sub_header mode-desktop">
        <div class="logo_space"></div>
        <div class="logo_container" style="width:18rem;height:14rem;">

            <div class="flex-container">
                <img src="/assets/images/LMU.png" style="width:65%; height:auto;margin-top:2em"/>
                <img src="/assets/images/img02.png" style="width:35%; height:auto;"/>
                <img src="/assets/images/kans.jpeg" style="width:35%; height:auto"/>                
                <img src="/assets/images/Portugal_univ.png" style="width:35%; height:auto;"/>
                <img src="/assets/images/bpit-logo.png" style="width:30%; height:auto;"/>              
                
            </div>

        </div>
        <div class="title_container">
            <h4 style="text-align:center;">5th International Conference on Data Analytics & Management (ICDAM-2024)

                <br/>
                <span style="color:red">
                    <strong>ICDAM-2024 Theme:</strong>
                    Data Analytics with Computer Networks
                </span>
                <br/>

                <br/>

                <strong style="color:blue">Organized By:</strong>
                <strong style="color:blue">London Metropolitan University, London, UK (Venue Partner)</strong>
                

                <br/>
                <strong style="color:red">in association with
                </strong>
                <br/>
                <strong style="font-size: 14px;"> WSG University, Bydgoszcz, Poland, Europe
                            </strong>
                <!-- <br />Bhagwan Parshuram Institute of Technology (BPIT), GGSIPU, Delhi, India -->
                <br/>
                &
                <br/> <strong  style="font-size: 14px;">Portalegre Polytechnic University, Portugal, Europe</strong>
                <br/>
                &
                <br />
                <strong   style="font-size: 14px;">BPIT, GGSIPU, Delhi</strong><br/>
                

                <strong style="color: blue;"> Date: 15th - 16th June, 2024</strong>
                <br/>
                
                <strong style="color:red">(Springer LNNS series Approved)</strong>
                <br />
                <!-- <marquee width="100%" direction="left" style="color:red">
                                    DUE TO PANDEMIC CONDITIONS CONFERENCE WILL HAPPEN IN ONLINE MODE</marquee> -->
            </h4>
            <!--
                                    <h4 class="big-title">
                                        THIRD INTERNATIONAL CONFERENCE ON DATA ANALYTICS & MANAGEMENT (ICDAM-2022) <br />
                                        <span style=color:red>ICDAM 2022 THEME: DATA ANALYTICS WITH COMPUTER NETWORKS</span>
                                        <br />
                                        ORGANISED BY : THE KARKONOSZA UNIVERSITY OF APPLIED SCIENCE, POLAND
                                    </h4>
                        -->
        </div>
        <div>
            <img src="/assets/images/icdamlogo.png" style="width: 140px;margin-top: 60px;margin-left: -50px;">
        </div>
        <div class="sidebar_toggler">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
    </div>
    <div class="sub_header mode-mobile">
        <div class="row">
            <div class="logo_container" style="display: flex;flex-direction: row;">
                <div>
                    <img src="/assets/images/icdamlogo.png" style="width: 6rem;">
                </div>
                <img src="/assets/images/Parent-Logo.png" style="width:12rem;height:auto;"/>
                
            </div>
            <div class="sidebar_toggler-mobile">
                
                <div class="ham"></div>
                <div class="ham"></div>
                <div class="ham"></div>
            </div>
        </div>
        <div class="row" style="margin-top:-25px">
            <h4 style="text-align:center;">5th International Conference on Data Analytics & Management (ICDAM-2024)

                <br/>
                <span style="color:red">
                    <strong>ICDAM-2024 Theme:</strong>
                    Data Analytics with Computer Networks
                </span>
                <br/>

                

                <strong style="color:blue">Organized By:</strong>
                <strong style="color:blue">London Metropolitan University, London, UK (Venue Partner)</strong>
                

                <br/>
                <strong style="color:red">in association with
                </strong>
                <br/>
                <strong style="font-size: 14px;"> WSG University, Bydgoszcz Poland,
                                Europe
                            </strong>
                <!-- <br />Bhagwan Parshuram Institute of Technology (BPIT), GGSIPU, Delhi, India -->
                <br/>
                &
                <br/> <strong  style="font-size: 14px;">Portalegre Polytechnic University, Portugal, Europe</strong>
                <br/>
                &
                <br />
                <strong   style="font-size: 14px;">BPIT, GGSIPU, Delhi</strong><br/>
                

                <strong style="color: blue;"> Date: 15th - 16th June, 2024</strong>
                <br/>
                
                <strong style="color:red">(Springer LNNS series Approved)</strong>
                <br />
                <!-- <marquee width="100%" direction="left" style="color:red">
                                    DUE TO PANDEMIC CONDITIONS CONFERENCE WILL HAPPEN IN ONLINE MODE</marquee> -->
            </h4>
            <!--
                                    <h4 class="big-title">
                                        THIRD INTERNATIONAL CONFERENCE ON DATA ANALYTICS & MANAGEMENT (ICDAM-2022) <br />
                                        <span style=color:red>ICDAM 2022 THEME: DATA ANALYTICS WITH COMPUTER NETWORKS</span>
                                        <br />
                                        ORGANISED BY : THE KARKONOSZA UNIVERSITY OF APPLIED SCIENCE, POLAND
                                    </h4>
                        -->
        </div>
    </div>
</div>
