<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/publication.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');
    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="publication_container">
                    <h1 class="publication_headline">Publication</h1>
                    <div class="journal_container">
                        <p style="line-height: 1.8rem; text-align: justify;              font-size: 1.2rem;">All the
                            accepted papers of ICDAM-2024 will be published as a proceedings of ICDAM-2024 indexed by
                            Scopus, Ei, WoS, and other reputed databases.<br />

                            High-quality selected extended papers of the conference will be invited to submit for
                            publication in the special issues of the following journals :</p>

                        <div style="display: flex;flex-wrap: wrap;justify-content: space-around;width: 100%;">
                            <!-- <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image"><img src="/assets/images/journals/13.jpg" alt="Journal">
                                </div>
                                <div class="journal-title">Intelligent Decision Technologies</div>
                                <div class="journal-link">
                                    <a href="https://www.iospress.com/catalog/journals/intelligent-decision-technologies"
                                        target="_blank">Visit Journal</a>
                                </div>
                                <div class="indexing">Indexed by SCOPUS & ESCI</div>
                            </div>

                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image"><img src="/assets/images/journals/iasc.jpeg" alt="Journal">
                                </div>
                                <div class="journal-title">Intelligent Automation and Soft Computing </div>
                                <div class="journal-link">
                                    <a href="https://www.techscience.com/iasc/special_detail/diversified-application-domains"
                                        target="_blank">Visit Journal</a>
                                </div>
                                 <div class="indexing">SCIE Indexed IF 1.19</div>
                            </div>

                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image"><img src="/assets/images/journals/17.jpeg" alt="Journal">
                                </div>
                                <div class="journal-title">Electronics, The MDPI Journal (SCI Indexed, IF 2.69) </div>
                                <div class="journal-link">
                                    <a href="https://www.mdpi.com/journal/electronics/special_issues/8T795VAQ30"
                                        target="_blank">Visit Journal</a>
                                </div>
                                <div class="indexing">SCIE Indexed IF 1.19</div>
                            </div>

                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image"><img src="/assets/images/journals/18.jpeg" alt="Journal">
                                </div>
                                <div class="journal-title">SUSTAINABILITY, THE MDPI JOURNAL (SCI INDEXED, IF 3.88)</div>
                                <div class="journal-link">
                                    <a href="https://www.mdpi.com/journal/sustainability/special_issues/Y9UY9TEJ13"
                                        target="_blank">Visit Journal</a>
                                </div>
                                <div class="indexing">SCIE Indexed IF 1.19</div> 
                            </div>

                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image"><img src="/assets/images/journals/19.jpeg" alt="Journal">
                                </div>
                                <div class="journal-title">Sensors, MDPI Journal (SCI Indexed, IF 3.847) </div>
                                <div class="journal-link">
                                    <a href="https://www.mdpi.com/journal/sensors/special_issues/6XRK81MA05"
                                        target="_blank">Visit Journal</a>
                                </div>
                                 <div class="indexing">SCIE Indexed IF 1.19</div>
                            </div> -->

                            <!-- <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image">
                                    
                                </div>
                                <div class="journal-title">IEEE JOURNAL OF BIOMEDICAL AND HEALTH INFORMATICS(SCI
                                    Indexed, IF 7.0) </div>
                                <div class="journal-link">
                                    <a href="https://www.embs.org/jbhi/special-issues/" target="_blank">Visit
                                        Journal</a>
                                </div>
                                 <div class="indexing">SCIE Indexed IF 1.19</div> 
                            </div> -->
                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image">
                                    <img src="/assets/images/4.jpg" alt="Journal" />
                                </div>
                                <div class="journal-title">Computer & Electrical Engineering Journal (Elsevier) SCI IF 4.15</div>
                                <div class="journal-link">
                                    <a href="https://www.sciencedirect.com/journal/computers-and-electrical-engineering" target="_blank">Visit
                                        Journal</a>
                                </div>
                                <!-- <div class="indexing">SCIE Indexed IF 1.19</div> -->
                            </div>
                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image">
                                    <img src="/assets/images/5.jpeg" alt="Journal" />
                                </div>
                                <div class="journal-title">Expert Systems Journal (Wiley) SCI IF 2.58</div>
                                <div class="journal-link">
                                    <a href="https://onlinelibrary.wiley.com/journal/14680394" target="_blank">Visit
                                        Journal</a>
                                </div>
                                <!-- <div class="indexing">SCIE Indexed IF 1.19</div> -->
                            </div>
                            <div class="journal" style="margin:20px 0 20px 0">
                                <div class="journal-image">
                                    <img src="/assets/images/journals/hccis.jpeg" alt="Journal" />
                                </div>
                                <div class="journal-title">Journal Name: Human-centric Computing and Information Sciences Journal, SCI -IF 6.6</div>
                                <div class="journal-link">
                                    <a href="http://hcisj.com/data/file/article/2023040003/13-17.pdf" target="_blank">Visit
                                        Journal</a>
                                </div>
                                
                            </div>  

                        </div>



                    </div>
                </div>
                <%- include("./Components/footer.ejs") %>
                    <script src="/assets/scripts/operations.js"></script>
                    <script>
                        document.querySelector(".publication_container").style.cssText = "visibility: hidden; opacity: 0";
                        document.addEventListener("DOMContentLoaded", () => { setTimeout(() => { document.querySelector(".publication_container").removeAttribute("style") }, 1000) })
                    </script>
</body>

</html>