<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/spl_session.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');

    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="special_session_container">

                    <h1 class="section_heading">Special Sessions</h1>
                    <!-- <div class="no-sessions"> No Special Sessions Registered </div> -->
                    <div class="spl_session_con">
                        <div class="special-session">
                            <a href="../assets/special-sessions/SS-1.pdf" class="anchor">SS_001: Recent Advances in Intelligent Systems and Communication & Machine Learning</a>
                            <div class="organizer">Dr. Vikash Yadav, Government Polytechnic Bighapur Unnao, Board of Technical Education, Uttar Pradesh, India,<br /><br />
                                Dr. Ayushi Prakash, Ajay Kumar Garg Engineering College, Ghaziabad, Uttar Pradesh, India, <br /><br />
                                Dr. Chuan-Ming Liu, National Taipei University of Technology (NTUT), Taipei, Taiwan<br /><br />
                               </div>
                            <br /><span class="anchor_name">Special Session_01.pdf</span>
                        </div>

                     <div class="special-session">
                            <a href="/assets/special-sessions/SS-2.pdf" class="anchor">SS_002: Emerging Trends in Machine Learning and Artificial Intelligence </a>
                            <div class="organsizer">Dr. Saumya Bansal, Bharati Vidyapeeth's Institute of Computer Applications and Management (BVICAM), India<br /><br />
                                Dr. Rakhee, Bharati Vidyapeeth's Institute of Computer Applications and Management (BVICAM), India
                               

                               <br />
                            </div>
                            <span class="anchor_name">Special Session_02.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-3.pdf" class="anchor">SS_003: Machine Learning, IOT, Blockchain, AI chatbot application to improve Global Healthcare </a>
                            <div class="organizer">Dr. Ahmed Elngar, Beni-Suef University, Egypt<br/>Dr. Bhawna Singla, Geeta University, India
                                <br /><br />
                                Dr. Rajender Kumar, Chitkara University, India
                                <br /><br />
                                Dr. Punit Soni, Chitkara University, India
                            </div>
                            <br />
                            <span class="anchor_name">Special Session_03.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-4.pdf" class="anchor">SS_004: Blockchain & AI Horizons: Applications for a New Era </a>
                            <div class="organizer">Prof. Khairol Amali Bin Ahmad
                                Faculty of Engineering, Universiti Pertahanan Nasional Malaysia, Malaysia<br /><br />
                                
                                Dr. Khujamatov Khalimjon
                                Associate Professor, Data Communication Networks and Systems,
                                Tashkent University of Information Technologies named after Muhammad al-Khwarizmi, Uzbekistan
                                <br /><br />
                                Prof. Uma N. Dulhare
                                Department of Computer Science and Artificial Intelligence
                                Muffakham Jah College of Engineering and Technology Affiliated to Osmania University, India
                                <br /><br />
                                Dr. Khaleel Ahmad
                                Assistant Professor
                                Department of Computer Science and Information Technology
                                Maulana Azad National Urdu University, India
                            </div>
                            <br />
                            <span class="anchor_name">Special Session_04.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-5.pdf" class="anchor">SS_005: Recent trends in Deep Learning, Neural Networks and Interactive Genetic Algorithms </a>
                            <div class="organizer">
                                Prof. (Dr.)Suman Mann, Professor, Galgotia University, Greater Noida, UttarPradesh, India<br /><br />
                                Dr. Deepshikha Yadav, Assistant Professor, Maharaja Surajmal Institute of Technology, New Delhi, India
                                <br /><br />
                                	Dr. Suresh Muthusamy, Assistant Professor Senior Grade, Department of Electrical and Electronics Engineering, Kongu Engineering College (Autonomous), Perundurai, Erode, Tamil Nadu, India
                                <br /><br />
                                	Dr. Ahmed A. Elngar, Associate professor and Head of Computer Science Department, Faculty of Computers and Artificial Intelligence, Beni-Suef University, Beni-Suef City, Egypt</div>
                            <br />
                            <span class="anchor_name">Special Session_05.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-6.pdf" class="anchor">SS_006: DATA ANALYTICS FOR SUSTAINABLE BUSINESS PRACTICES AND SOCIETAL DEVELOPMENT </a>
                            <div class="organizer">
                                Dr. Santoshi Sengupta, Graphic Era Hill University, Bhimtal Campus, India
                                <br />
                                Dr. Kavita Goel, Australian Institute of Business, Australia 
                                <br />
                               Dr. Arti Jain, Jaypee Institute of Information Technology, Noida, India

                            </div>
                            <br />
                            <span class="anchor_name">Special Session_06.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-7.pdf" class="anchor">SS_007: Embedded Systems and Communications Engineering</a>
                            <div class="organizer">Hamzah M. Marhoon, Al-Nahrain University, College of Information Engineering, Iraq <br />
                                Noorulden Basil, Mustansiriyah University, College of Engineering, Iraq<br />
                                Abdullah Fadhil Mohammed, Mustansiriyah University, College of Engineering, Iraq</div>
                            <br />
                            <span class="anchor_name">Special Session_07.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-9.pdf" class="anchor">SS_008: AI and Machine Learning in Transformative Data Analytics: Bridging Healthcare, Cybersecurity, and Environmental Sustainability
                                </a>
                            <div class="organizer">
                                Dr. Harish Kumar Mittal, Principal and Head Deptt of CSE, B M Institute of Engineering and Technology, Sonepat, India <br />Dr Vishal Jain, Dean Academics and Head Deptt of ECE, B M Institute of Engineering and Technology, Sonepat, India <br />
                                Dr. Suresh Vishwakarma, Senior Engineer at BC Hydro, Vancouver, British Columbia, Canada IET Representative - Western Canada
                            </div>
                            <br />
                            <span class="anchor_name">Special Session_08.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-10.pdf" class="anchor">SS_009: Cutting Edge Progress in Artificial Intelligence and Machine Learning : A Road Map for Sustainable Development</a>
                            <div class="organizer">Dr. Sachin Kumar South Ural State University (National Research University), Chelyabinsk, Russian Federation<br />
                                Dr. Sita Rani
                                Guru Nanak Dev Engineering College, Ludhiana, INDIA<br />
                                
                                Dr. Pankaj Bhambri
                                Guru Nanak Dev Engineering College, Ludhiana, INDIA<br />
                                Dr. Aman Kataria
                                Amity Institute of Defense Technology, Amity University, Noida, INDIA
                            </div>
                            <br />
                            <span class="anchor_name">Special Session_09.pdf</span>
                        </div>
                        <!-- <div class="special-session">
                            <a href="/assets/special-sessions/SS-11.pdf" class="anchor">SS_011: Recent trends in Data
                                Analysis and Business Decision Management </a>
                            <div class="organizer">Prof. S. Mohanapriya, Department of IT, Rathinam College of Arts &
                                Science, Coimbatore, India<br />
                                Prof. R. Mohammed Harun Babu, Rathinam College of Arts & Science, Coimbatore, India
                                <br />
                                Mr. Thanigeswaran Logaperumal, Senior Consultant, IN3 Industries GmbH, Walldorf, Germany
                                <br />
                                Mr. Sivakumar Aruchamy, Principal software engineer, Oracle Limited, Seattle, United
                                States<br />
                                Mrs. Ramya Gurusamy, SAP GTS Consultant, Continental Reifen Deutschland GmbH, Germany
                                <br /><br />
                            </div>
                            <span class="anchor_name">Special Session_011.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-12.pdf" class="anchor">SS_012:Edge cognitive
                                computing-based management for smart healthcare analytics.</a>
                            <div class="organizer">Prof. Dr. P. Sivaprakash, Rathinam College of Arts & Science,
                                Coimbatore, India <br />
                                Prof. Kavitha V Kakade, Rathinam College of Arts & Science, Coimbatore, India <br />
                                Prof. Dr. Inam Seger Naser, Department of Electrical Engineering and Computer Science,
                                University of Cincinnati Ohio, United States University of Baghdad, Iraq<br /><br />
                            </div>
                            <span class="anchor_name">Special Session_012.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-13.pdf" class="anchor">SS_013: AIMIESIoT-4.0 - AI-Based
                                Manufacturing and Industrial Engineering Systems with Internet of Things </a>
                            <div class="organizer">Prof. R. Mohammed Harun Babu, Rathinam College of Arts & Science,
                                Coimbatore, India<br />
                                Prof. K. Arunkumar, Rathinam College of Arts & Science, Coimbatore, India<br />
                                Prof.Dr.R. Vinayakumar Ravi Center for Artificial Intelligence, Prince Mohammad Bin Fah
                                University, Khobar, Saudi Arabia<br /><br /></div>
                            <span class="anchor_name">Special Session_13.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-14.pdf" class="anchor">SS_014: RECENT TRENDS OF
                                GENERATIVE DEEP LEARNING AND EXPLAINABLE ARTIFICIAL INTELLIGENCE APPROACHES IN SMART
                                CITIES AND INDUSTRY 4.0</a>
                            <div class="organizer">Dr. A. Malini,
                                Thiagarajar College of Engineering, Madurai, Tamil Nadu, India
                                <br />
                                Dr. Vandana Sharma, SMIEEE
                                Amity Institute of Information Technology, Amity University, Noida Campus, India
                                <br />
                                Dr. Rajeeb Dey, SMIEEE, FIE(I), M-ACDOS National Institute of Technology Silchar, India
                                <br />
                                Dr. Vinay Kukreja
                                Chitkara University Institute of Engineering and Technology, Chitkara University,
                                Punjab, India
                                <br />
                                Dr. Celestine Iwendi, Ph.D, SMIEEE, FHEA, FIMC
                                University of Bolton, United Kingdom
                                <br /><br />
                            </div>
                            <span class="anchor_name">Special Session_14.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-17.pdf" class="anchor">SS_015:
                                FAULT TOLERANT AND RELIABLE COMPUTING IN CLOUD USING
                                BIO INSPIRD ALGORITHM</a>
                            <div class="organizer">
                                Dr. Punit Gupta
                                PostDoc , School of Computer Science
                                <br />
                                Dr. Munish Sabharwal
                                Professor, Galgotias University
                                <br />
                                Dr. Sudeshna Chakraborty
                                Professor, Galgotias University
                            </div>
                            <span class="anchor_name">Special Session_15.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-15.pdf" class="anchor">SS_016:Applications of
                                Artificial Intelligence in Education and Beyond</a>
                            <div class="organizer">Dr Hamza Mutaher, British University Vietnam<br />
                                Mr Fraser Harrison, British University Vietnam <br /></div>
                            <span class="anchor_name">Special Session_16.pdf</span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-16.pdf" class="anchor">SS_017:Emerging Intelligent
                                Computing Techniques and their Applications (EICTA) </a>
                            <div class="organizer">Dr. Nitish Pathak,
                                Bhagwan Parshuram Institute of Technology (BPIT),
                                Guru Gobind Singh Indraprastha University (GGSIPU), New Delhi, India
                                <br />
                                Dr. Neelam Sharma
                                , Maharaja Agrasen Institute of Technology (MAIT),
                                Guru Gobind Singh Indraprastha University (GGSIPU), New Delhi, India
                                <br />
                            </div>
                            <span class="anchor_name">Special Session_17.pdf </span>
                        </div>

                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-18.pdf" class="anchor">SS_018:
                                Impact of Cognitive services, systems and experimentations in Intelligent Information
                                Technology</a>
                            <div class="organizer">Dr. A. Suresh,
                                Associate Professor, Department of Networking and Communications,
                                School of Computing, SRM Institute of Science and Technology,
                                Chennai, Tamil Nadu, India. 603203
                                prisu6esh@ieee.org Mobile: 9940647918
                                <br />
                                Ramya Thatikonda
                                Information Technology,
                                University of the Cumberlands, Williamsburg, KY, USA
                                rthatikonda0152@ucumberlands.edu; ramya.t0211@gmail.com
                                <br />
                                Praneeth Kanagala
                                Information Technology,
                                University of the Cumberlands, Williamsburg, KY, USA Pkanagala59698@ucumberlands.edu
                                <br />
                                Naga Simhadri Apparao Polireddi
                                Master of Computer Science,
                                Arizona State University, USA
                                npolired@asu.edu
                            </div>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-19.pdf" class="anchor">SS_019:Recent Advances in
                                Intelligent Systems and Communication & Machine Learning</a>
                            <div class="organizer">
                                Dr. Vikash Yadav, Government Polytechnic Bighapur Unnao, Board of Technical Education,
                                Uttar
                                Pradesh, India, vikas.yadav.cs@gmail.com
                                <br />
                                Dr. Vimal Kumar, Galgotias University, Greater Noida, Uttar Pradesh, India,
                                vimalmnnit16@gmail.com
                                <br />
                                Dr. Chuan-Ming Liu, National Taipei University of Technology (NTUT), Taipei, Taiwan
                                cmliu@ntut.edu.tw
                                <br />
                            </div>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-20.pdf" class="anchor">SS_020:Healthcare Informatics and Biomedical Engineering</a>
                            <div class="organizer">
                                Dr. Pradeep Kumar                               
                                <br />
                                Dr. Sudeshna Chakravarty
                                <br />
                                Dr. Md Arquam
                                <br />
                                Dr. Prasun Chakraborty
                                <br />
                                Dr. Pallavi Goel
                                <br />
                            </div>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-21.pdf" class="anchor">SS_021:Recent Advances in Networks and Computational Technologies using AI (RANCTA)</a>
                            <div class="organizer">
                                Dr. Sangeeta<br />Dr. Ashish Kumar<br />Dr. Sitender<br />Dr.Lalit Garg
                                <br />
                            </div>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS-22.pdf" class="anchor">SS_022:RECENT ADVANCEMENTS IN BIG DATA ANALYTICS, DATA SCIENCES AND HIGH PERORMANCE COMPUTING IN NEURAL NETWORKS</a>
                            <div class="organizer">
                                Dr. Preeti Nagrath, 
                                Bharati Vidyapeeth’s college of Engineering, New Delhi, India<br />Dr. Rachna Jain, Bhagwan Parshuram Institute of technology, New Delhi, India
                                <br />
                            </div>
                        </div> --> 
                        

                        
                    </div>
                </div>

                <%- include("./Components/footer.ejs") %>
                    <script src="/assets/scripts/operations.js"></script>
                    <script>
                        document.querySelector(".special_session_container").style.cssText = "visibility: hidden; opacity: 0";
                        document.addEventListener("DOMContentLoaded", () => {
                            setTimeout(() => {
                                document.querySelector(".special_session_container").removeAttribute("style")
                            }, 1000)
                        })

                    </script>
</body>

</html>`