<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/spl_session.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="stylesheet" href="/assets/css/visit.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />

</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>              
            
            <div>

              <link href="./landing-page.css" rel="stylesheet" />
        
              <div class="landing-page-container">
                <div class="landing-page-top-container">
                
                  <div class="landing-page-hero">
                    <div class="landing-page-content-container">
                      <h1 class="Heading landing-page-text09"> Visit London!</h1>
                      <h2 class="Subheading landing-page-subheading">
                        Welcome to London! Discover the best <br />of London with us.
                      </h2>
                      <span class="landing-page-text10">
                        <!-- <span>Each property is hand-picked,</span> -->
                        <br />
                        <span>Find things to do in London, from iconic sightseeing spots and <br /> fun-filled days out to top restaurants, theatre and <br />unmissable London events</span>
                      </span>
                      <div class="solid-button-container">
                        <button class="solid-button-button button Button">
                          <a href="#main-section">Explore locations</a>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="main-section" class="landing-page-main">
                  <h1>Most famous places</h1>
                  <span class="landing-page-text15">Recommended</span>
                  <div class="landing-page-cards-container">
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="../assets/images/VisitLondon/6.jpg"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text" style="padding-left: 20px;"><span>Warner Bros. Studio Tour London</span></span>
                        <span class="place-card-text1">
                          <span>
                            Have a magical day out with a behind-the-scenes tour of the Harry Potter films at Warner Bros. Studio Tour London The Making of Harry Potter. 
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="https://cdn-lnp.dataweavers.io/-/media/images/london/visit/london-organisations/westminster-abbey/westminster-abbey-640.jpg?rev=af9ea1c27df748e5ad4750c69aa986dc"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text"><span>Westminster Abbey</span></span>
                        <span class="place-card-text1">
                          <span>
                            One of London's most important UNESCO World Heritage Sites, Westminster Abbey plays host to many special ceremonies including coronations and royal weddings.
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="https://cdn-lnp.dataweavers.io/-/media/images/london/visit/things-to-do/sightseeing/london-attractions/coca-cola-london-eye/the-london-eye-640x360.jpg?rev=ae93c8fc80f541c787429b433da5fde0"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text"><span>The London Eye</span></span>
                        <span class="place-card-text1">
                          <span>
                            Climb aboard one of the 32 glass capsules of the London Eye for unforgettable views of some of London's most famous landmarks. Take in amazing 360-degree views as the capsule slowly rotates over the river Thames. 
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="https://cdn.londonandpartners.com/visit/london-organisations/tower-of-london/90441-640x360-tower-640.jpg"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text"><span>Tower of London</span></span>
                        <span class="place-card-text1">
                          <span>
                            Take a tour with one of the Yeoman Warders around the Tower of London, one of the world's most famous buildings.
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="https://cdn-lnp.dataweavers.io/-/media/images/london/visit/things-to-do/sightseeing/london-attractions/madame-tussauds/madame-tussauds-london-yoda-640x360.jpg?rev=27820dfe39d84671af9147e87853b2a1"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text"><span>Madame Tussauds London</span></span>
                        <span class="place-card-text1">
                          <span>
                            At Madame Tussauds London, you'll come face-to-face with some of the world's most famous faces. From Shakespeare to Taylor Swift, you'll meet influential figures from showbiz, sport, politics and even royalty.  
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <div class="place-card-container">
                      <img
                        alt="image"
                        src="https://cdn-lnp.dataweavers.io/-/media/images/london/visit/london-organisations/buckingham-palace/buckingham-palace-tour-640.jpg?rev=2510bb3f46c040e89799ead90c00baba"
                        class="place-card-image"
                      />
                      <div class="place-card-container1">
                        <span class="place-card-text"><span>Buckingham Palace</span></span>
                        <span class="place-card-text1">
                          <span>
                            Enjoy a glimpse into the life of royalty with a visit to this iconic London palace for a limited time each summer. Wander through the grand State Rooms, discovering many treasures and artefacts, and marvel at a special exhibition.
                          </span>
                        </span>
                        <!-- <div class="outline-button-container">
                          <button class="outline-button-button button Button">
                            <span>Discover place</span>
                          </button>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>


              <%- include("./Components/footer.ejs") %>
           
            <script src="/assets/scripts/operations.js"></script>
            <script>
                document.querySelector(".special_session_container").style.cssText = "visibility: hidden; opacity: 0";
                document.addEventListener("DOMContentLoaded", () => {
                    setTimeout(() => {
                        document.querySelector(".special_session_container").removeAttribute("style")
                    }, 1000)
                })

            </script>
            

            
</body>

</html>
    
</body>
</html>